apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats
  labels:
    app: nats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
      - name: nats
        image: nats
        env:
         - name: branch
           value: main
         - name: some
           value: hoopla
         - name: soba
           value: noodles
        ports:
        - containerPort: 81

